.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.site-content { 
  @include make-row();  
  word-break: break-word; 

  .content-area {
    @include make-md-column(9);
  }

  .widget-area {
    @include make-md-column(3);
  }
}

.posted-on{
	margin-right: 15px;
	
}
.cat-links{
	margin-left: 15px;
}
.post-edit-link{
	float:right;
}
.comments-link{
	margin-left: 15px;
}

